@charset "utf-8";
/* CSS Document */
html {-webkit-text-size-adjust:none;}
body{font-family:'arial';line-height:1;}
body,ul,h2,p,dl,dd,input{margin:0px;}
ul{padding:0px;}
li{list-style:none outside;}

a{text-decoration:none;}
p{word-break:break-all;}
.pr{position:relative;}
.pa{position:absolute;}
.fixed{position:fixed;}
.fl{float:left;}
.fr{float:right;}
.dpb{display:block;}
.touch_adv_banner{width:100%;max-width:640px;}

/*--隐藏--*/
.dn{display:none;}
.vh{visibility:hidden;}

/*--字体大小--*/
.fs12{font-size:12px;}
.fs14{font-size:14px;}
.fs16{font-size:16px;}
.fs18{font-size:18px;}
.fs20{font-size:20px;}
.fs22{font-size:22px;}

/*--字体颜色--*/
.co1{color:#f22840;}
.co2{color:#7e7676;}
.co3{color:#9f9696;}
.co4{color:#ef8303;}
.co5{color:#ED7583;}
.co6{color:#62b8d1;}
.co7{color:#929F52;}
.co8{color:#BD9B05;}
.co9{color:#40a0bc;}
.co10{color:#fd4359;}
.co11{color:#da7203;}
.co12{color:#ffffff;}
.co13{color:#339a01;}
.co14{color:#e06002;}
.co15{color:#028592;}
.co16{color:#bc6201;}
.co17{color:#000000;}
.fc1{color:#666666;}
.fc2{color:#895421;}
.fc3{color:#ffffff;}
.fc4{color:#9f6a3c;}
.fc5{color:#333333;}

/*--行高--*/
.lh18{line-height:18px;}
.lh20{line-height:20px;}
.lh24{line-height:24px;}
.lh30{line-height:30px;}

/*--内边距--*/
.p5{padding:5px;}
.p05{padding:0 5px;}
.p10{padding:10px;}
.pt1{padding-top:1px;}
.pt10{padding-top:10px;}
.pt40{padding-top:40px;}
.p010{padding:0px 10px;}
.p014{padding:0px 14px;}
.p-10-14{padding:20px 14px;}
.p-20-14{padding:20px 14px;}
.p20{padding:20px;}
.pb10{padding-bottom:10px;}
.pb20{padding-bottom:20px;}
/*--外边距--*/
.m6{margin:6px;}
.m10{margin:10px;}
.m-20-10{margin:20px 6px 0px;}
.m-20-14{margin:20px 14px 0px 14px;}
.mt5{margin-top:5px;}
.mt6{margin-top:6px;}
.mt7{margin-top:7px;}
.mt8{margin-top:8px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.mt30{margin-top:30px;}
.mt80{margin-top:80px;}
.mr4{margin-right:4px;}
.mr6{margin-right:6px;}
.mr10{margin-right:10px;}
.mr20{margin-right:20px;}
.ml6{margin-left:6px;}
.ml8{margin-left:8px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml25{margin-left:25px;}
.ml30{margin-left:30px;}
.ml85{margin-left:85px;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}

/*--居中--*/
.tac{text-align:center;}

/*--文字下划线--*/
.tdu{text-decoration:underline;}

/*--文字加粗--*/
.fwb{font-weight:bold;}

/*--清除浮动--*/
.clearfix{*zoom:1;}
.clearfix:before,.clearfix:after{display: table;content:"";line-height:0;}
.clearfix:after{clear:both;}

/*--边框--*/
.bor1{border:solid 1px #ececec;}
.bt1{border-top:1px solid #e3e3e3;}
.bb1{border-bottom:1px solid #e3e3e3;}
/*--主体宽度--*/
.jy{width:320px;margin:0 auto;}

/*--背景颜色--*/
.bgcw{background-color:white;}

/*--输入框--*/
.i-text{border:1px solid #d1d1d1;line-height:26px;height:26px;padding:0px 5px;}

/*--下拉框--*/
.sel{border:1px solid #d1d1d1;padding:3px 0px;}


/*--表单文字对齐--*/
.jy-i{margin-bottom: 1px;margin-top:-2px;vertical-align:middle;}

/*--footer--*/
.jy-fo{border-top:1px solid #e5e5e5;background-color:#f6f6f6;padding:30px 0px 50px;}
.jy-fo ul{width:125px;margin:0 auto;}
.jy-fo ul li{background-color:white;height:28px;line-height:28px;}
.jy-fo ul li a{padding:0 14px;}
.fo-l{border-top-left-radius:14px;border-bottom-left-radius:14px;}
.fo-r{border-top-right-radius:14px;border-bottom-right-radius:14px;}

.dpn{display:none;}

::-moz-placeholder{color:#ccc;}
::-webkit-placeholder{color:#ccc;}

/*--提示栏--*/
.tsl_prompt{height:0px;width:100%;overflow:hidden;line-height:28px;text-align:center;font-size:12px;color:#feffaa;background-color:rgba(0,0,0,0.5);position:fixed;top:0px;z-index:1009;}

/*--新导航--*/
nav:after{ clear: both; display: block; height: 0; content: ""; }
nav{background-color:#FC6DA2;}
nav>a{ float: left; width: 18%; text-align: center; position: relative; line-height: 30px; background-color: #fc6da2; color: white; }
nav>a:last-child{ width: 28%; }
nav>a.cur{ background-color: #df2e70; color: #f8aeca; }
nav>a span{ position: absolute; z-index: 1; background-color: #feff8b; padding: 3px 4px; min-width: 10px; border-radius: 15px; color: #ff0000; line-height: 12px; text-align: center; font-size: 8pt; top: 2px; } 

footer{ background-color: #f0f0f0; text-align: center; padding-bottom: 10px; font-size: 9pt; }
footer p{ color: #b4b4b4; margin-bottom: 10px; }
footer p span{ padding: 0 5px; }
footer a{ color: #444444; }
footer a.cur{ color: #b4b4b4; }
/*--新导航--*/

/*佳缘首页-头部*/
.media_mr_per_1{margin-right:3%;margin-left:2%;}
.media_mt_per_1{margin-top:5%;}
.media_mb_per_1{margin-bottom:2.76%;}
.media_p_per_1{padding:3% 0% 3% 2%;}
.fs12_em{font-size:0.857em;}
.fs14_em{font-size:0.875em;}

.horn_top{padding:0.5em;}
.horn_icon{ width:5%;display:inline-block;vertical-align:middle;}
.horn_icon img{max-width:100%;vertical-align:top;}
.jy_home_nav:after{ clear: both; display: block; height: 0; content: ""; }
.jy_home_nav{background-color:#FC6DA2;}
.jy_home_nav>a{ float: left; width: 18%; text-align: center; position: relative; line-height: 2.3em; background-color: #fc6da2; color: white; font-size:1em;}
.jy_home_nav>a:last-child{ width: 28%; }
.jy_home_nav>a.cur{ background-color: #df2e70; color: #f8aeca; }
.jy_home_nav>a span{ position: absolute; z-index: 1; background-color: #feff8b; padding: 0.25em 0.25em; border-radius:15px; color: #ff0000; text-align: center; font-size: 0.8em; top: 0.14em;}
/*佳缘首页-头部-end*/

/*佳缘头部-二级页用*/
.jy_head_mr_per_1{margin-right:7%;}
.jy_head_mb_per_1{margin-bottom:2.76%;}
.jy_head_p_per_1{padding:3% 0% 0 6%;}
.horn_top_f{padding:0.5em;}
.horn_icon_f{ width:5%;display:inline-block;vertical-align:middle;}
.horn_icon_f img{max-width:100%;vertical-align:top;}
.jy_home_nav_f:after{ clear: both; display: block; height: 0; content: ""; }
.jy_home_nav_f>a{ float: left; width: 18%; text-align: center; position: relative; line-height: 2.3em; background-color: #fc6da2; color: white; font-size:10.5pt;}
.jy_home_nav_f>a:last-child{ width: 28%; }
.jy_home_nav_f>a.cur{ background-color: #df2e70; color: #f8aeca; }
.jy_home_nav_f>a span{ position: absolute; z-index: 1; background-color: #feff8b; padding: 3px 4px 3px 3px; min-width: 11px; border-radius: 15px; color: #ff0000; line-height: 12px; text-align: center; font-size: 12px; top: 0.14em; }
/*佳缘头部-二级页用-end*/

/*底部分页*/
.footer_page{width:276px;margin:22px  auto;overflow:hidden;}
.footer_page_list {width:282px;}
.footer_page_list li{text-align:center;}
.footer_page li a{color:#1A1A1A;line-height:32px;font-weight:bold;text-shadow:0 1px 0 #FFF;font-size:12px;}
.footer_page_pre_btn{background:url(../../../i/m/2014/chakanxiaoxi/icons2.png) left top no-repeat;width:87px; height:32px; background-position:-10px -10px;}
.footer_page .footer_page_hs_btn a{color:#9B9B9B;}
.footer_page_m_btn{background:url(../../../i/m/2014/chakanxiaoxi/icons2.png) left top no-repeat; width:90px; height:32px; background-position:-10px -94px; }
.footer_page_next_btn{background:url(../../../i/m/2014/chakanxiaoxi/icons2.png) left top no-repeat;width:87px; height:32px; background-position:-10px -52px;}
.footer_page_next_btn a{margin-left:-14px;}
.footer_page_pre_btn a{margin-left:10px;}
/*底部分页-end*/

/* 最新版头部 - START */
.jy_head{padding-top:4%;background-image: -moz-linear-gradient( top, #ffe2ea, #ffffff );
	background-image: -webkit-linear-gradient( top, #ffe2ea, #ffffff );
	background-image: -webkit-gradient( linear, top, from(#ffffff), to(#ffffff));
	background-image: -ms-linear-gradient( top, #ffe2ea, #ffffff );
	background-image: linear-gradient( top, #ffe2ea, #ffffff );
}
.jy_head dl{float:left;width:20%;margin-bottom:5%;margin-left:5%;}
.jy_head dl dt{float:left;width:22%;margin-right:3%;margin-top:-2%;}
.jy_head dl dt img{max-width:100%;vertical-align:middle;}
.jy_head dl dd{float:left;width:75%;}
.jy_head dl dd a{color:#555555;font-size:0.857em;}

.jy .head_common dl dd a{font-size:12px;}
.jy .head_common dl dt img{width:14px;display:block;}
.jy .head_common dl dt{margin-top:0;}
/* 最新版头部 - END */