@charset "utf-8";
/* CSS Document */

body{font-family:"Arial", "Helvetica", "sans-serif";}
.jy{min-width:320px;max-width:640px;margin:0 auto;}
.login_bg{background:url(../../../i/m/2014/login/login_bg.jpg) center top no-repeat;background-size:cover;}
.hr_55{height:55px;}
.fs26{font-size:26px;}
.txttit{color:#ff3852;}
.txttit span{margin:0 5px;}
.login_btn{width:280px;height:36px;background:#fc6ea2;color:#FFF;line-height:36px;display:block;border-radius:5px;box-shadow:0px 1px 1px #d8d8d8;}
.login_box{width:280px;margin:0 auto;overflow:hidden;padding:20px 0 68px 0;}
.login_list{width:100%;}
.login_list a{float:left;width:125px;height:28px;background:url(../../../i/m/2014/login/ic1.png) #4ec1ff 15px center no-repeat;line-height:28px;padding-left:10px;font-size:12px;color:#ffffff;margin-right:10px;text-align:center;border-radius:5px;}
.login_list a:last-child{margin-right:0;}
.login_list .qq{background:url(../../../i/m/2014/login/ic2.png) #4ec1ff 15px center no-repeat;}

/*login2 样式*/
.top_nav{height:38px;line-height:38px;color:#FFF;background:#ff6e8d;}
.navcont{width:84%;}
.rbtn{width:16%;background:#eb3e63;}
.rbtn span{display:inline-block;background:url(../../../i/m/2014/login/rbtn.png) left top no-repeat;width:14px;height:26px;vertical-align:-7px;}
.input_list{width:280px;margin:40px auto 34px auto;}
.input_list li{height:38px;border:1px solid #cccccc;border-radius:5px;position:relative;}
.input_list .name{width:59px;line-height:38px;background:#f5f5f5;color:#696969;font-size:14px;text-align:center;display:inline-block;border-right:1px solid #cccccc;border-radius:5px 0 0 5px;}
.input_list li input{width:206px;height:36px;padding-left:8px;border:none;background:none;color:#cacaca;font-size:14px;}
.w_180{width:180px;}
.getcode{width:58px;height:36px;line-height:36px;text-align:center;right:-64px;top:0;background:#4ec1ff;font-size:12px;color:#FFF;border-radius:5px;box-shadow:0px 1px 1px #d8d8d8;}
.remarktxt{padding-left:10px;width:280px;color:#9b9b9b;margin:0 auto;}
.remarktxt dt{width:40px;line-height:18px;}
.remarktxt dd{width:230px;line-height:18px;}
.pb70{padding-bottom:70px;}
.bor_btm{border-bottom:1px solid #cccccc;}


/*注册填写页面*/
.next_btn{width:280px;height:38px;text-align:center;line-height:38px;border-radius:8px;background:#fc6ea2;color:#fff;display:block;}
.login_infolist{width:310px;margin:20px auto 20px auto;}
.login_infolist .w_60{width:60px;display:inline-block;}
.login_infolist .w_69{width:69px;}
.login_infolist .w_103{width:100px;}
.w216{width:216px;}
.i-text{background:none;border:none;}
.sol_con{width:268px;margin:20px auto 5px auto;}
.sol_2 textarea{outline:none;background:none;border:none;width:246px;}

.login_infolist select,.login_infolist input{color:#9f9696;}

/*提示*/
.ts_box{padding:5%;width:80%;margin:0 auto;border:1px solid #dedea3;}
.ts_box p{font-size:14px;line-height:24px;color:#696969;}
.w_210{width:65.6%;}




/*登录页面*/
.topnav_cor{background:#fc6da2;}
.rbtn .login_btn{background:url(../../../i/m/2014/login/login_btn.png) left center no-repeat;width:20px;height:16px;vertical-align:inherit;box-shadow:none;}
.input_list li .name2{background:url(../../../i/m/2014/login/logo_user.png) center center no-repeat #f0f0f0;height:38px;}
.input_list li .name3{background:url(../../../i/m/2014/login/locked.png) center center no-repeat #f0f0f0;height:38px;}
.input_list li .o_fous{background:url(../../../i/m/2014/login/logo_user.png) center center no-repeat #4ec1ff;}
.input_list li .o_fous2{background:url(../../../i/m/2014/login/locked.png) center center no-repeat #4ec1ff;}
.forg_psw{font-size:14px;color:#4ec1ff;text-decoration:underline;}
.input_list li label{vertical-align:middle;}
.input_list li label input{width:20px;height:18px;background:none;outline:none;vertical-align:middle;margin-right:8px;}
.value_txt{font-size:14px;color:#c4c4c4;position:absolute;left:74px;top:13px;z-index:1;}
.input_list li .w_180{width:180px;}
.txt_off{float:right;background:url(../../../i/m/2014/login/txt_off.png) left top no-repeat;width:12px;height:12px;margin:12px 10px 0 0;}
.input_list  .bor_cor{border:1px solid #4ec1ff;}
.input_list li .code_text{font-size:14px;width:102px;float:left;border:1px solid #cccccc;margin:0 16px;}
.rzm{height:38px;line-height:38px;}

/*找回密码*/

.find_psw{width:292px;margin:1em auto;}
.i-text{border:1px solid #d1d1d1;}
.jy_btn_com{width:140px;height:34px;line-height:34px;color:#ffffff;text-align:center;display:block;margin:0 auto;background:#fc6ea2;border-radius:5px;box-shadow:1px 2px 1px #f2f2f2;}
.jy_btn_com2{background:#4ec1ff;}
.find_psw input:focus{border:1px solid #89ACE4;}

.loginpage ul{width:280px;margin:0 auto;margin-top:54px;}
.loginpage ul li{width:280px;height:40px;line-height:40px;box-shadow:0px 0px 2px rgba(85,85,85,0.3);border-radius:5px;margin-bottom:35px;}
.loginpage ul li a{font-size:14px;display:block;border-radius:6px;color:#ffffff;}
.loginpage ul li a span{margin-left:100px;}
.loginpage ul .item_1 a{background:url(../../../i/m/2014/login/login_icon_01.png) 60px center #4ec1ff no-repeat;}
.loginpage ul .item_2 a{background:url(../../../i/m/2014/login/login_icon_02.png) 60px center #fc6ea2 no-repeat;}

.sec_code_mask{width:100%;height:100%;background:rgba(0,0,0,.5);left:0;top:0;z-index:2;}
.sec_code_pop{width:260px;padding:20px 15px 15px 15px;background:#ffffff;border:1px solid #dedede;left:50%;top:15%;margin-left:-145px;}
.sec_code_pop .off{background:url(../../../i/m/2014/usercp/pop_close.png) left top no-repeat;width:10px;height:10px;background-size:contain;right:10px;top:10px;}
.sec_code_pop  .ip_text{width:80px;height:28px;padding:2px 8px;border:1px solid #cccccc;font-size:16px;color:#888888;box-shadow:0px 1px 2px #eaeaea inset;}
.sec_code_pop .sec_img img{width:75px;height:32px;}
.sec_code_pop .change{line-height:32px;color:#06C;font-size:14px;}
.sec_code_pop .confirm_btn a{width:120px;height:32px;line-height:32px;color:#ffffff;border-radius:5px;background:#fc6ea2;font-size:14px;display:inline-block;}

.login_nav_c{border-bottom:#f0dbe4 2px solid;height:46px;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;line-height:44px;font-size:16px;}
.login_nav{width:230px;margin:0 auto;padding:0 25px;}
.login_nav li{width:68px;}
.login_nav li a{color:#444444;}
.login_nav .on{border-bottom:3px solid #fc6da2;font-weight:bold;}
.login_nav .on a{color:#fc6da2;}
