<html lang="en">
<head>
    <meta charset="utf-8">
    <title>登录</title>
    <link rel="stylesheet" href="/static/css/basic.css">
    <link rel="stylesheet" href="/static/css/list.css">
    <link rel="stylesheet" href="/static/css/new_common.css">
    <link rel="stylesheet" href="/static/css/login.css">
</head>

<body>
<div class="jy com_w_100">

    <div class="top_nav clearfix tac topnav_cor">
    </div>
    <div class="pb70 bor_btm">
        <form action="" method="post" name="login_form" target="hidden">
            <ul class="input_list">
                <li class="mb15 clearfix " id="user_name_li"><span class="name name2  fl" id="user_icon"></span><input
                        class="w_180" name="username" id="name" placeholder="输入用户名" type="text" value=""><span
                        class="txt_off txt_off_un dn"></span></li>
                <li class="mb15 clearfix pr" id="psw_name_li"><span class="name name3 fl" id="psw_icon"></span><input
                        type="password" class="pr w_180" style="z-index:2;" name="password" id="password"
                        placeholder="输入您的密码" value=""><span class="txt_off txt_off_pw dn"></span></li>
            </ul>
            <input  class="login_btn fs14 tac mr0a" type="submit" value="登录">
        </form>
    </div>
</div>
</body>
</html>