<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bootstrap-combined.min.css">
</head>
<body>
<div class="container-fluid">

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <form action="" method="POST">
                    <p>
                    <table>用户名：</table>
                    <input type="text" name="username"></p>
                    <p>
                    <table>密 码：</table>
                    <input type="password" name="password"></p>
                    <p><input type="submit" value="登录"></p>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>